.svg-ae-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 14.285714285714286% 0 no-repeat;
}

.svg-ae-32-dims {
	width: 32px;
	height: 24px;
}

.svg-af-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 71.42857142857143% 37.5% no-repeat;
}

.svg-af-32-dims {
	width: 32px;
	height: 24px;
}

.svg-al-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 0 12.5% no-repeat;
}

.svg-al-32-dims {
	width: 32px;
	height: 24px;
}

.svg-ar-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 14.285714285714286% 12.5% no-repeat;
}

.svg-ar-32-dims {
	width: 32px;
	height: 24px;
}

.svg-at-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 28.571428571428573% 0 no-repeat;
}

.svg-at-32-dims {
	width: 32px;
	height: 24px;
}

.svg-au-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 28.571428571428573% 12.5% no-repeat;
}

.svg-au-32-dims {
	width: 32px;
	height: 24px;
}

.svg-az-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 0 25% no-repeat;
}

.svg-az-32-dims {
	width: 32px;
	height: 24px;
}

.svg-ba-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 14.285714285714286% 25% no-repeat;
}

.svg-ba-32-dims {
	width: 32px;
	height: 24px;
}

.svg-be-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 28.571428571428573% 25% no-repeat;
}

.svg-be-32-dims {
	width: 32px;
	height: 24px;
}

.svg-bg-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 0 37.5% no-repeat;
}

.svg-bg-32-dims {
	width: 32px;
	height: 24px;
}

.svg-br-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 14.285714285714286% 37.5% no-repeat;
}

.svg-br-32-dims {
	width: 32px;
	height: 24px;
}

.svg-ca-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 28.571428571428573% 37.5% no-repeat;
}

.svg-ca-32-dims {
	width: 32px;
	height: 24px;
}

.svg-ch-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 42.857142857142854% 0 no-repeat;
}

.svg-ch-32-dims {
	width: 32px;
	height: 24px;
}

.svg-cl-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 42.857142857142854% 12.5% no-repeat;
}

.svg-cl-32-dims {
	width: 32px;
	height: 24px;
}

.svg-cm-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 42.857142857142854% 25% no-repeat;
}

.svg-cm-32-dims {
	width: 32px;
	height: 24px;
}

.svg-cr-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 42.857142857142854% 37.5% no-repeat;
}

.svg-cr-32-dims {
	width: 32px;
	height: 24px;
}

.svg-cy-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 0 50% no-repeat;
}

.svg-cy-32-dims {
	width: 32px;
	height: 24px;
}

.svg-cz-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 14.285714285714286% 50% no-repeat;
}

.svg-cz-32-dims {
	width: 32px;
	height: 24px;
}

.svg-de-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 28.571428571428573% 50% no-repeat;
}

.svg-de-32-dims {
	width: 32px;
	height: 24px;
}

.svg-dk-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 42.857142857142854% 50% no-repeat;
}

.svg-dk-32-dims {
	width: 32px;
	height: 24px;
}

.svg-ee-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 57.142857142857146% 0 no-repeat;
}

.svg-ee-32-dims {
	width: 32px;
	height: 24px;
}

.svg-eg-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 57.142857142857146% 12.5% no-repeat;
}

.svg-eg-32-dims {
	width: 32px;
	height: 24px;
}

.svg-es-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 57.142857142857146% 25% no-repeat;
}

.svg-es-32-dims {
	width: 32px;
	height: 24px;
}

.svg-fi-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 57.142857142857146% 37.5% no-repeat;
}

.svg-fi-32-dims {
	width: 32px;
	height: 24px;
}

.svg-fr-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 57.142857142857146% 50% no-repeat;
}

.svg-fr-32-dims {
	width: 32px;
	height: 24px;
}

.svg-gb-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 0 62.5% no-repeat;
}

.svg-gb-32-dims {
	width: 32px;
	height: 24px;
}

.svg-ge-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 14.285714285714286% 62.5% no-repeat;
}

.svg-ge-32-dims {
	width: 32px;
	height: 24px;
}

.svg-gr-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 28.571428571428573% 62.5% no-repeat;
}

.svg-gr-32-dims {
	width: 32px;
	height: 24px;
}

.svg-hk-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 42.857142857142854% 62.5% no-repeat;
}

.svg-hk-32-dims {
	width: 32px;
	height: 24px;
}

.svg-hr-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 57.142857142857146% 62.5% no-repeat;
}

.svg-hr-32-dims {
	width: 32px;
	height: 24px;
}

.svg-hu-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 71.42857142857143% 0 no-repeat;
}

.svg-hu-32-dims {
	width: 32px;
	height: 24px;
}

.svg-id-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 71.42857142857143% 12.5% no-repeat;
}

.svg-id-32-dims {
	width: 32px;
	height: 24px;
}

.svg-ie-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 71.42857142857143% 25% no-repeat;
}

.svg-ie-32-dims {
	width: 32px;
	height: 24px;
}

.svg-il-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 0 0 no-repeat;
}

.svg-il-32-dims {
	width: 32px;
	height: 24px;
}

.svg-in-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 71.42857142857143% 50% no-repeat;
}

.svg-in-32-dims {
	width: 32px;
	height: 24px;
}

.svg-is-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 71.42857142857143% 62.5% no-repeat;
}

.svg-is-32-dims {
	width: 32px;
	height: 24px;
}

.svg-it-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 0 75% no-repeat;
}

.svg-it-32-dims {
	width: 32px;
	height: 24px;
}

.svg-jp-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 14.285714285714286% 75% no-repeat;
}

.svg-jp-32-dims {
	width: 32px;
	height: 24px;
}

.svg-kr-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 28.571428571428573% 75% no-repeat;
}

.svg-kr-32-dims {
	width: 32px;
	height: 24px;
}

.svg-lt-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 42.857142857142854% 75% no-repeat;
}

.svg-lt-32-dims {
	width: 32px;
	height: 24px;
}

.svg-lu-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 57.142857142857146% 75% no-repeat;
}

.svg-lu-32-dims {
	width: 32px;
	height: 24px;
}

.svg-lv-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 71.42857142857143% 75% no-repeat;
}

.svg-lv-32-dims {
	width: 32px;
	height: 24px;
}

.svg-md-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 0 87.5% no-repeat;
}

.svg-md-32-dims {
	width: 32px;
	height: 24px;
}

.svg-mk-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 14.285714285714286% 87.5% no-repeat;
}

.svg-mk-32-dims {
	width: 32px;
	height: 24px;
}

.svg-mx-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 28.571428571428573% 87.5% no-repeat;
}

.svg-mx-32-dims {
	width: 32px;
	height: 24px;
}

.svg-my-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 42.857142857142854% 87.5% no-repeat;
}

.svg-my-32-dims {
	width: 32px;
	height: 24px;
}

.svg-nl-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 57.142857142857146% 87.5% no-repeat;
}

.svg-nl-32-dims {
	width: 32px;
	height: 24px;
}

.svg-no-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 71.42857142857143% 87.5% no-repeat;
}

.svg-no-32-dims {
	width: 32px;
	height: 24px;
}

.svg-nz-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 85.71428571428571% 0 no-repeat;
}

.svg-nz-32-dims {
	width: 32px;
	height: 24px;
}

.svg-pl-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 85.71428571428571% 12.5% no-repeat;
}

.svg-pl-32-dims {
	width: 32px;
	height: 24px;
}

.svg-placeholder-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 85.71428571428571% 25% no-repeat;
}

.svg-placeholder-32-dims {
	width: 32px;
	height: 24px;
}

.svg-pt-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 85.71428571428571% 37.5% no-repeat;
}

.svg-pt-32-dims {
	width: 32px;
	height: 24px;
}

.svg-ro-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 85.71428571428571% 50% no-repeat;
}

.svg-ro-32-dims {
	width: 32px;
	height: 24px;
}

.svg-rs-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 85.71428571428571% 62.5% no-repeat;
}

.svg-rs-32-dims {
	width: 32px;
	height: 24px;
}

.svg-ru-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 85.71428571428571% 75% no-repeat;
}

.svg-ru-32-dims {
	width: 32px;
	height: 24px;
}

.svg-se-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 85.71428571428571% 87.5% no-repeat;
}

.svg-se-32-dims {
	width: 32px;
	height: 24px;
}

.svg-sg-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 0 100% no-repeat;
}

.svg-sg-32-dims {
	width: 32px;
	height: 24px;
}

.svg-si-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 14.285714285714286% 100% no-repeat;
}

.svg-si-32-dims {
	width: 32px;
	height: 24px;
}

.svg-sk-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 28.571428571428573% 100% no-repeat;
}

.svg-sk-32-dims {
	width: 32px;
	height: 24px;
}

.svg-th-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 42.857142857142854% 100% no-repeat;
}

.svg-th-32-dims {
	width: 32px;
	height: 24px;
}

.svg-tr-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 57.142857142857146% 100% no-repeat;
}

.svg-tr-32-dims {
	width: 32px;
	height: 24px;
}

.svg-tw-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 71.42857142857143% 100% no-repeat;
}

.svg-tw-32-dims {
	width: 32px;
	height: 24px;
}

.svg-ua-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 85.71428571428571% 100% no-repeat;
}

.svg-ua-32-dims {
	width: 32px;
	height: 24px;
}

.svg-us-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 100% 0 no-repeat;
}

.svg-us-32-dims {
	width: 32px;
	height: 24px;
}

.svg-vn-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 100% 12.5% no-repeat;
}

.svg-vn-32-dims {
	width: 32px;
	height: 24px;
}

.svg-za-32 {
	background: url("svg/sprite.css-b6e9cc5f.svg") 100% 25% no-repeat;
}

.svg-za-32-dims {
	width: 32px;
	height: 24px;
}

