.svg-ae-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 14.285714285714286% 0 no-repeat;
}

.svg-ae-16-dims {
	width: 16px;
	height: 12px;
}

.svg-af-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 71.42857142857143% 37.5% no-repeat;
}

.svg-af-16-dims {
	width: 16px;
	height: 12px;
}

.svg-al-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 0 12.5% no-repeat;
}

.svg-al-16-dims {
	width: 16px;
	height: 12px;
}

.svg-ar-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 14.285714285714286% 12.5% no-repeat;
}

.svg-ar-16-dims {
	width: 16px;
	height: 12px;
}

.svg-at-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 28.571428571428573% 0 no-repeat;
}

.svg-at-16-dims {
	width: 16px;
	height: 12px;
}

.svg-au-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 28.571428571428573% 12.5% no-repeat;
}

.svg-au-16-dims {
	width: 16px;
	height: 12px;
}

.svg-az-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 0 25% no-repeat;
}

.svg-az-16-dims {
	width: 16px;
	height: 12px;
}

.svg-ba-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 14.285714285714286% 25% no-repeat;
}

.svg-ba-16-dims {
	width: 16px;
	height: 12px;
}

.svg-be-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 28.571428571428573% 25% no-repeat;
}

.svg-be-16-dims {
	width: 16px;
	height: 12px;
}

.svg-bg-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 0 37.5% no-repeat;
}

.svg-bg-16-dims {
	width: 16px;
	height: 12px;
}

.svg-br-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 14.285714285714286% 37.5% no-repeat;
}

.svg-br-16-dims {
	width: 16px;
	height: 12px;
}

.svg-ca-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 28.571428571428573% 37.5% no-repeat;
}

.svg-ca-16-dims {
	width: 16px;
	height: 12px;
}

.svg-ch-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 42.857142857142854% 0 no-repeat;
}

.svg-ch-16-dims {
	width: 16px;
	height: 12px;
}

.svg-cl-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 42.857142857142854% 12.5% no-repeat;
}

.svg-cl-16-dims {
	width: 16px;
	height: 12px;
}

.svg-cm-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 42.857142857142854% 25% no-repeat;
}

.svg-cm-16-dims {
	width: 16px;
	height: 12px;
}

.svg-cr-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 42.857142857142854% 37.5% no-repeat;
}

.svg-cr-16-dims {
	width: 16px;
	height: 12px;
}

.svg-cy-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 0 50% no-repeat;
}

.svg-cy-16-dims {
	width: 16px;
	height: 12px;
}

.svg-cz-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 14.285714285714286% 50% no-repeat;
}

.svg-cz-16-dims {
	width: 16px;
	height: 12px;
}

.svg-de-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 28.571428571428573% 50% no-repeat;
}

.svg-de-16-dims {
	width: 16px;
	height: 12px;
}

.svg-dk-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 42.857142857142854% 50% no-repeat;
}

.svg-dk-16-dims {
	width: 16px;
	height: 12px;
}

.svg-ee-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 57.142857142857146% 0 no-repeat;
}

.svg-ee-16-dims {
	width: 16px;
	height: 12px;
}

.svg-eg-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 57.142857142857146% 12.5% no-repeat;
}

.svg-eg-16-dims {
	width: 16px;
	height: 12px;
}

.svg-es-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 57.142857142857146% 25% no-repeat;
}

.svg-es-16-dims {
	width: 16px;
	height: 12px;
}

.svg-fi-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 57.142857142857146% 37.5% no-repeat;
}

.svg-fi-16-dims {
	width: 16px;
	height: 12px;
}

.svg-fr-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 57.142857142857146% 50% no-repeat;
}

.svg-fr-16-dims {
	width: 16px;
	height: 12px;
}

.svg-gb-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 0 62.5% no-repeat;
}

.svg-gb-16-dims {
	width: 16px;
	height: 12px;
}

.svg-ge-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 14.285714285714286% 62.5% no-repeat;
}

.svg-ge-16-dims {
	width: 16px;
	height: 12px;
}

.svg-gr-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 28.571428571428573% 62.5% no-repeat;
}

.svg-gr-16-dims {
	width: 16px;
	height: 12px;
}

.svg-hk-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 42.857142857142854% 62.5% no-repeat;
}

.svg-hk-16-dims {
	width: 16px;
	height: 12px;
}

.svg-hr-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 57.142857142857146% 62.5% no-repeat;
}

.svg-hr-16-dims {
	width: 16px;
	height: 12px;
}

.svg-hu-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 71.42857142857143% 0 no-repeat;
}

.svg-hu-16-dims {
	width: 16px;
	height: 12px;
}

.svg-id-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 71.42857142857143% 12.5% no-repeat;
}

.svg-id-16-dims {
	width: 16px;
	height: 12px;
}

.svg-ie-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 71.42857142857143% 25% no-repeat;
}

.svg-ie-16-dims {
	width: 16px;
	height: 12px;
}

.svg-il-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 0 0 no-repeat;
}

.svg-il-16-dims {
	width: 16px;
	height: 12px;
}

.svg-in-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 71.42857142857143% 50% no-repeat;
}

.svg-in-16-dims {
	width: 16px;
	height: 12px;
}

.svg-is-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 71.42857142857143% 62.5% no-repeat;
}

.svg-is-16-dims {
	width: 16px;
	height: 12px;
}

.svg-it-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 0 75% no-repeat;
}

.svg-it-16-dims {
	width: 16px;
	height: 12px;
}

.svg-jp-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 14.285714285714286% 75% no-repeat;
}

.svg-jp-16-dims {
	width: 16px;
	height: 12px;
}

.svg-kr-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 28.571428571428573% 75% no-repeat;
}

.svg-kr-16-dims {
	width: 16px;
	height: 12px;
}

.svg-lt-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 42.857142857142854% 75% no-repeat;
}

.svg-lt-16-dims {
	width: 16px;
	height: 12px;
}

.svg-lu-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 57.142857142857146% 75% no-repeat;
}

.svg-lu-16-dims {
	width: 16px;
	height: 12px;
}

.svg-lv-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 71.42857142857143% 75% no-repeat;
}

.svg-lv-16-dims {
	width: 16px;
	height: 12px;
}

.svg-md-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 0 87.5% no-repeat;
}

.svg-md-16-dims {
	width: 16px;
	height: 12px;
}

.svg-mk-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 14.285714285714286% 87.5% no-repeat;
}

.svg-mk-16-dims {
	width: 16px;
	height: 12px;
}

.svg-mx-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 28.571428571428573% 87.5% no-repeat;
}

.svg-mx-16-dims {
	width: 16px;
	height: 12px;
}

.svg-my-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 42.857142857142854% 87.5% no-repeat;
}

.svg-my-16-dims {
	width: 16px;
	height: 12px;
}

.svg-nl-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 57.142857142857146% 87.5% no-repeat;
}

.svg-nl-16-dims {
	width: 16px;
	height: 12px;
}

.svg-no-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 71.42857142857143% 87.5% no-repeat;
}

.svg-no-16-dims {
	width: 16px;
	height: 12px;
}

.svg-nz-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 85.71428571428571% 0 no-repeat;
}

.svg-nz-16-dims {
	width: 16px;
	height: 12px;
}

.svg-pl-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 85.71428571428571% 12.5% no-repeat;
}

.svg-pl-16-dims {
	width: 16px;
	height: 12px;
}

.svg-placeholder-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 85.71428571428571% 25% no-repeat;
}

.svg-placeholder-16-dims {
	width: 16px;
	height: 12px;
}

.svg-pt-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 85.71428571428571% 37.5% no-repeat;
}

.svg-pt-16-dims {
	width: 16px;
	height: 12px;
}

.svg-ro-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 85.71428571428571% 50% no-repeat;
}

.svg-ro-16-dims {
	width: 16px;
	height: 12px;
}

.svg-rs-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 85.71428571428571% 62.5% no-repeat;
}

.svg-rs-16-dims {
	width: 16px;
	height: 12px;
}

.svg-ru-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 85.71428571428571% 75% no-repeat;
}

.svg-ru-16-dims {
	width: 16px;
	height: 12px;
}

.svg-se-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 85.71428571428571% 87.5% no-repeat;
}

.svg-se-16-dims {
	width: 16px;
	height: 12px;
}

.svg-sg-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 0 100% no-repeat;
}

.svg-sg-16-dims {
	width: 16px;
	height: 12px;
}

.svg-si-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 14.285714285714286% 100% no-repeat;
}

.svg-si-16-dims {
	width: 16px;
	height: 12px;
}

.svg-sk-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 28.571428571428573% 100% no-repeat;
}

.svg-sk-16-dims {
	width: 16px;
	height: 12px;
}

.svg-th-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 42.857142857142854% 100% no-repeat;
}

.svg-th-16-dims {
	width: 16px;
	height: 12px;
}

.svg-tr-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 57.142857142857146% 100% no-repeat;
}

.svg-tr-16-dims {
	width: 16px;
	height: 12px;
}

.svg-tw-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 71.42857142857143% 100% no-repeat;
}

.svg-tw-16-dims {
	width: 16px;
	height: 12px;
}

.svg-ua-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 85.71428571428571% 100% no-repeat;
}

.svg-ua-16-dims {
	width: 16px;
	height: 12px;
}

.svg-us-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 100% 0 no-repeat;
}

.svg-us-16-dims {
	width: 16px;
	height: 12px;
}

.svg-vn-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 100% 12.5% no-repeat;
}

.svg-vn-16-dims {
	width: 16px;
	height: 12px;
}

.svg-vt-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 100% 25% no-repeat;
}

.svg-vt-16-dims {
	width: 16px;
	height: 12px;
}

.svg-za-16 {
	background: url("svg/sprite.css-ecc169ac.svg") 100% 37.5% no-repeat;
}

.svg-za-16-dims {
	width: 16px;
	height: 12px;
}

