.svg-ae-24 {
	background: url("svg/sprite.css-b6344061.svg") 14.285714285714286% 0 no-repeat;
}

.svg-ae-24-dims {
	width: 24px;
	height: 18px;
}

.svg-af-24 {
	background: url("svg/sprite.css-b6344061.svg") 71.42857142857143% 37.5% no-repeat;
}

.svg-af-24-dims {
	width: 24px;
	height: 18px;
}

.svg-al-24 {
	background: url("svg/sprite.css-b6344061.svg") 0 12.5% no-repeat;
}

.svg-al-24-dims {
	width: 24px;
	height: 18px;
}

.svg-ar-24 {
	background: url("svg/sprite.css-b6344061.svg") 14.285714285714286% 12.5% no-repeat;
}

.svg-ar-24-dims {
	width: 24px;
	height: 18px;
}

.svg-at-24 {
	background: url("svg/sprite.css-b6344061.svg") 28.571428571428573% 0 no-repeat;
}

.svg-at-24-dims {
	width: 24px;
	height: 18px;
}

.svg-au-24 {
	background: url("svg/sprite.css-b6344061.svg") 28.571428571428573% 12.5% no-repeat;
}

.svg-au-24-dims {
	width: 24px;
	height: 18px;
}

.svg-az-24 {
	background: url("svg/sprite.css-b6344061.svg") 0 25% no-repeat;
}

.svg-az-24-dims {
	width: 24px;
	height: 18px;
}

.svg-ba-24 {
	background: url("svg/sprite.css-b6344061.svg") 14.285714285714286% 25% no-repeat;
}

.svg-ba-24-dims {
	width: 24px;
	height: 18px;
}

.svg-be-24 {
	background: url("svg/sprite.css-b6344061.svg") 28.571428571428573% 25% no-repeat;
}

.svg-be-24-dims {
	width: 24px;
	height: 18px;
}

.svg-bg-24 {
	background: url("svg/sprite.css-b6344061.svg") 0 37.5% no-repeat;
}

.svg-bg-24-dims {
	width: 24px;
	height: 18px;
}

.svg-br-24 {
	background: url("svg/sprite.css-b6344061.svg") 14.285714285714286% 37.5% no-repeat;
}

.svg-br-24-dims {
	width: 24px;
	height: 18px;
}

.svg-ca-24 {
	background: url("svg/sprite.css-b6344061.svg") 28.571428571428573% 37.5% no-repeat;
}

.svg-ca-24-dims {
	width: 24px;
	height: 18px;
}

.svg-ch-24 {
	background: url("svg/sprite.css-b6344061.svg") 42.857142857142854% 0 no-repeat;
}

.svg-ch-24-dims {
	width: 24px;
	height: 18px;
}

.svg-cl-24 {
	background: url("svg/sprite.css-b6344061.svg") 42.857142857142854% 12.5% no-repeat;
}

.svg-cl-24-dims {
	width: 24px;
	height: 18px;
}

.svg-cm-24 {
	background: url("svg/sprite.css-b6344061.svg") 42.857142857142854% 25% no-repeat;
}

.svg-cm-24-dims {
	width: 24px;
	height: 18px;
}

.svg-cr-24 {
	background: url("svg/sprite.css-b6344061.svg") 42.857142857142854% 37.5% no-repeat;
}

.svg-cr-24-dims {
	width: 24px;
	height: 18px;
}

.svg-cy-24 {
	background: url("svg/sprite.css-b6344061.svg") 0 50% no-repeat;
}

.svg-cy-24-dims {
	width: 24px;
	height: 18px;
}

.svg-cz-24 {
	background: url("svg/sprite.css-b6344061.svg") 14.285714285714286% 50% no-repeat;
}

.svg-cz-24-dims {
	width: 24px;
	height: 18px;
}

.svg-de-24 {
	background: url("svg/sprite.css-b6344061.svg") 28.571428571428573% 50% no-repeat;
}

.svg-de-24-dims {
	width: 24px;
	height: 18px;
}

.svg-dk-24 {
	background: url("svg/sprite.css-b6344061.svg") 42.857142857142854% 50% no-repeat;
}

.svg-dk-24-dims {
	width: 24px;
	height: 18px;
}

.svg-ee-24 {
	background: url("svg/sprite.css-b6344061.svg") 57.142857142857146% 0 no-repeat;
}

.svg-ee-24-dims {
	width: 24px;
	height: 18px;
}

.svg-eg-24 {
	background: url("svg/sprite.css-b6344061.svg") 57.142857142857146% 12.5% no-repeat;
}

.svg-eg-24-dims {
	width: 24px;
	height: 18px;
}

.svg-es-24 {
	background: url("svg/sprite.css-b6344061.svg") 57.142857142857146% 25% no-repeat;
}

.svg-es-24-dims {
	width: 24px;
	height: 18px;
}

.svg-fi-24 {
	background: url("svg/sprite.css-b6344061.svg") 57.142857142857146% 37.5% no-repeat;
}

.svg-fi-24-dims {
	width: 24px;
	height: 18px;
}

.svg-fr-24 {
	background: url("svg/sprite.css-b6344061.svg") 57.142857142857146% 50% no-repeat;
}

.svg-fr-24-dims {
	width: 24px;
	height: 18px;
}

.svg-gb-24 {
	background: url("svg/sprite.css-b6344061.svg") 0 62.5% no-repeat;
}

.svg-gb-24-dims {
	width: 24px;
	height: 18px;
}

.svg-ge-24 {
	background: url("svg/sprite.css-b6344061.svg") 14.285714285714286% 62.5% no-repeat;
}

.svg-ge-24-dims {
	width: 24px;
	height: 18px;
}

.svg-gr-24 {
	background: url("svg/sprite.css-b6344061.svg") 28.571428571428573% 62.5% no-repeat;
}

.svg-gr-24-dims {
	width: 24px;
	height: 18px;
}

.svg-hk-24 {
	background: url("svg/sprite.css-b6344061.svg") 42.857142857142854% 62.5% no-repeat;
}

.svg-hk-24-dims {
	width: 24px;
	height: 18px;
}

.svg-hr-24 {
	background: url("svg/sprite.css-b6344061.svg") 57.142857142857146% 62.5% no-repeat;
}

.svg-hr-24-dims {
	width: 24px;
	height: 18px;
}

.svg-hu-24 {
	background: url("svg/sprite.css-b6344061.svg") 71.42857142857143% 0 no-repeat;
}

.svg-hu-24-dims {
	width: 24px;
	height: 18px;
}

.svg-id-24 {
	background: url("svg/sprite.css-b6344061.svg") 71.42857142857143% 12.5% no-repeat;
}

.svg-id-24-dims {
	width: 24px;
	height: 18px;
}

.svg-ie-24 {
	background: url("svg/sprite.css-b6344061.svg") 71.42857142857143% 25% no-repeat;
}

.svg-ie-24-dims {
	width: 24px;
	height: 18px;
}

.svg-il-24 {
	background: url("svg/sprite.css-b6344061.svg") 0 0 no-repeat;
}

.svg-il-24-dims {
	width: 24px;
	height: 18px;
}

.svg-in-24 {
	background: url("svg/sprite.css-b6344061.svg") 71.42857142857143% 50% no-repeat;
}

.svg-in-24-dims {
	width: 24px;
	height: 18px;
}

.svg-is-24 {
	background: url("svg/sprite.css-b6344061.svg") 71.42857142857143% 62.5% no-repeat;
}

.svg-is-24-dims {
	width: 24px;
	height: 18px;
}

.svg-it-24 {
	background: url("svg/sprite.css-b6344061.svg") 0 75% no-repeat;
}

.svg-it-24-dims {
	width: 24px;
	height: 18px;
}

.svg-jp-24 {
	background: url("svg/sprite.css-b6344061.svg") 14.285714285714286% 75% no-repeat;
}

.svg-jp-24-dims {
	width: 24px;
	height: 18px;
}

.svg-kr-24 {
	background: url("svg/sprite.css-b6344061.svg") 28.571428571428573% 75% no-repeat;
}

.svg-kr-24-dims {
	width: 24px;
	height: 18px;
}

.svg-lt-24 {
	background: url("svg/sprite.css-b6344061.svg") 42.857142857142854% 75% no-repeat;
}

.svg-lt-24-dims {
	width: 24px;
	height: 18px;
}

.svg-lu-24 {
	background: url("svg/sprite.css-b6344061.svg") 57.142857142857146% 75% no-repeat;
}

.svg-lu-24-dims {
	width: 24px;
	height: 18px;
}

.svg-lv-24 {
	background: url("svg/sprite.css-b6344061.svg") 71.42857142857143% 75% no-repeat;
}

.svg-lv-24-dims {
	width: 24px;
	height: 18px;
}

.svg-md-24 {
	background: url("svg/sprite.css-b6344061.svg") 0 87.5% no-repeat;
}

.svg-md-24-dims {
	width: 24px;
	height: 18px;
}

.svg-mk-24 {
	background: url("svg/sprite.css-b6344061.svg") 14.285714285714286% 87.5% no-repeat;
}

.svg-mk-24-dims {
	width: 24px;
	height: 18px;
}

.svg-mx-24 {
	background: url("svg/sprite.css-b6344061.svg") 28.571428571428573% 87.5% no-repeat;
}

.svg-mx-24-dims {
	width: 24px;
	height: 18px;
}

.svg-my-24 {
	background: url("svg/sprite.css-b6344061.svg") 42.857142857142854% 87.5% no-repeat;
}

.svg-my-24-dims {
	width: 24px;
	height: 18px;
}

.svg-nl-24 {
	background: url("svg/sprite.css-b6344061.svg") 57.142857142857146% 87.5% no-repeat;
}

.svg-nl-24-dims {
	width: 24px;
	height: 18px;
}

.svg-no-24 {
	background: url("svg/sprite.css-b6344061.svg") 71.42857142857143% 87.5% no-repeat;
}

.svg-no-24-dims {
	width: 24px;
	height: 18px;
}

.svg-nz-24 {
	background: url("svg/sprite.css-b6344061.svg") 85.71428571428571% 0 no-repeat;
}

.svg-nz-24-dims {
	width: 24px;
	height: 18px;
}

.svg-pl-24 {
	background: url("svg/sprite.css-b6344061.svg") 85.71428571428571% 12.5% no-repeat;
}

.svg-pl-24-dims {
	width: 24px;
	height: 18px;
}

.svg-placeholder-24 {
	background: url("svg/sprite.css-b6344061.svg") 85.71428571428571% 25% no-repeat;
}

.svg-placeholder-24-dims {
	width: 24px;
	height: 18px;
}

.svg-pt-24 {
	background: url("svg/sprite.css-b6344061.svg") 85.71428571428571% 37.5% no-repeat;
}

.svg-pt-24-dims {
	width: 24px;
	height: 18px;
}

.svg-ro-24 {
	background: url("svg/sprite.css-b6344061.svg") 85.71428571428571% 50% no-repeat;
}

.svg-ro-24-dims {
	width: 24px;
	height: 18px;
}

.svg-rs-24 {
	background: url("svg/sprite.css-b6344061.svg") 85.71428571428571% 62.5% no-repeat;
}

.svg-rs-24-dims {
	width: 24px;
	height: 18px;
}

.svg-ru-24 {
	background: url("svg/sprite.css-b6344061.svg") 85.71428571428571% 75% no-repeat;
}

.svg-ru-24-dims {
	width: 24px;
	height: 18px;
}

.svg-se-24 {
	background: url("svg/sprite.css-b6344061.svg") 85.71428571428571% 87.5% no-repeat;
}

.svg-se-24-dims {
	width: 24px;
	height: 18px;
}

.svg-sg-24 {
	background: url("svg/sprite.css-b6344061.svg") 0 100% no-repeat;
}

.svg-sg-24-dims {
	width: 24px;
	height: 18px;
}

.svg-si-24 {
	background: url("svg/sprite.css-b6344061.svg") 14.285714285714286% 100% no-repeat;
}

.svg-si-24-dims {
	width: 24px;
	height: 18px;
}

.svg-sk-24 {
	background: url("svg/sprite.css-b6344061.svg") 28.571428571428573% 100% no-repeat;
}

.svg-sk-24-dims {
	width: 24px;
	height: 18px;
}

.svg-th-24 {
	background: url("svg/sprite.css-b6344061.svg") 42.857142857142854% 100% no-repeat;
}

.svg-th-24-dims {
	width: 24px;
	height: 18px;
}

.svg-tr-24 {
	background: url("svg/sprite.css-b6344061.svg") 57.142857142857146% 100% no-repeat;
}

.svg-tr-24-dims {
	width: 24px;
	height: 18px;
}

.svg-tw-24 {
	background: url("svg/sprite.css-b6344061.svg") 71.42857142857143% 100% no-repeat;
}

.svg-tw-24-dims {
	width: 24px;
	height: 18px;
}

.svg-ua-24 {
	background: url("svg/sprite.css-b6344061.svg") 85.71428571428571% 100% no-repeat;
}

.svg-ua-24-dims {
	width: 24px;
	height: 18px;
}

.svg-us-24 {
	background: url("svg/sprite.css-b6344061.svg") 100% 0 no-repeat;
}

.svg-us-24-dims {
	width: 24px;
	height: 18px;
}

.svg-vn-24 {
	background: url("svg/sprite.css-b6344061.svg") 100% 12.5% no-repeat;
}

.svg-vn-24-dims {
	width: 24px;
	height: 18px;
}

.svg-za-24 {
	background: url("svg/sprite.css-b6344061.svg") 100% 25% no-repeat;
}

.svg-za-24-dims {
	width: 24px;
	height: 18px;
}

